{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>Welcome</h1>

    {% if current_user %}
        Hello {{ current_user.name }}.

        <a href="/logout">Log out</a>
    {% else %}
        <a href="/signup/new">Sign up</a> or <a href="/login">log in</a>.
    {% endif %}

    <div>
        <h2>Items</h2>
        <div>
            {% for item in items %}
                <div>
                    <h2>Title: {{ item.title }}</h2>
                    <p>Category: {{ item.category_title }}</p>
                    <p>Description: {{ item.description }}</p>
                    <p>Published at: {{ item.created_at }}</p>
                    <p>Published By: {{ item.name }}</p>
                    <p>Contact User Email: {{ item.email }}</p>
                    <p>Contact User Phone: {{ item.phone }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
